<!-- Карточка поста -->
<article>
  <ul>
    <li>
      <a>
        Автор: {{ post.author }}
      </a>
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
    {% if not profile %}
      <li>
        <a href="{% url 'posts:profile' post.author %}">все посты пользователя</a>
      </li>
    {% endif %}
  </ul>
  <p>
    {{ post.text|linebreaksbr }}
  </p>
  <a href="{% url 'posts:post_detail' post.id %}">подробная информация</a>
  {% if not group_page %}
    {% if post.group %}
      <a href="{% url 'posts:group_list' post.group.slug %}">
        все записи группы
      </a>
    {% else %}
      <span style='color: red'>
        Этой публикации нет ни в одном сообществе.
      </span>
    {% endif %}
  {% endif %}
</article>